  <div class="container mt-4">
  <h2 class="mb-4 text-center">Lista de Usuários</h2>
  <button type="button" class="btn btn-primary" (click)="createUser()">Create User</button>
  <div class="card shadow-sm">
    <div class="card-body p-0">

      <table class="table table-hover align-middle mb-0">
        <thead class="table-dark">
          <tr>
            <th>Nome</th>
            <th>Email</th>
            <th>Função</th>
            <th class="text-center">Ações</th>
          </tr>
        </thead>

        <tbody>
          @for (user of users; track user.id) {
          <tr>
            <td class="fw-semibold">{{ user.name }}</td>
            <td>{{ user.email }}</td>
            <td>
              <span class="badge bg-primary">
                {{ user.role }}
              </span>
            </td>

            <td class="text-center">
              <button class="btn btn-sm btn-outline-warning me-2"
                      (click)="editUser(user.id)">
                ✏️ Editar
              </button>

              <button class="btn btn-sm btn-outline-danger"
                      (click)="deleteUser(user.id)">
                🗑️ Excluir
              </button>
            </td>
          </tr>
          }
        </tbody>

      </table>
    </div>
  </div>
</div>
