<div class="product-list">
  @for (product of products; track product.id) {
  <div class="product-card">
    <div class="image-placeholder">
      <!-- Placeholder para imagem -->
      <img src="https://placehold.co/200x150" alt="{{ product.name }}" />
    </div>
    <div class="product-details">
      <h3>{{ product.name }}</h3>
      <p class="price">R$ {{ product.price }}</p>
      <button type="button" class="btn btn-primary btn-sm">Edit</button>
      <button type="button" class="btn btn-danger btn-sm ms-3" (click)="removeProduct(product.id)">Remove</button>
    </div>
  </div>
  }
</div>
